
.gif-image {
    height: 400px;
    width: 100%;
    display: inline;
}



#form{
    margin: 30px;
    padding: 20px;
    width:fit-content;
    border: 2px solid;
    background-color: chartreuse;
}

.container {
    margin: 30px;
    padding: 20px;
    width:fit-content;
}


















